header {
    /*background-color: hsl(200,25%,92%);*/
}


a:hover {
    color: orange;
}

.banniere {
    display : inline-block;
}

footer {
    background-color: white;
}

.barreMenuG {
    display: inline;
    padding: 0 6px;
    padding: 15px;
    font-size: 25px;
}


.barreMenuG:hover {
    background-color: hsl(100,15%,100%);
}

.barreMenuB {
    display: inline;
    padding: 0 6px;
    text-align: center;
}

section {
    text-align: justify;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

#logoBookshop {
    width: 30vmin;
    width: 20vmax;
    margin-left: 0; 
}

#bottomNav {
    display:table;
    margin: 0 auto;
}

h2 {
    padding : 35px;
    text-decoration: underline;
}

#navMenu {
    background-color: hsl(200,25%,92%);
}

#recherche {
    width: 425px;
}

section {
    margin-left: 180px;
    margin-right: 180px;
}

.logo {
    width: 30px;

    display: inline;
    text-align: center;
}

#menuNav {
    display: flex;
    align-content: space-around;
    margin: auto;
    width: 1100px;


}

#font {
    background-color: hsl(200,25%,92%);
    border-top-style: solid;
    border-top-color: white;
}

#barreFixe {
    position : fixed;
}

#tdr {
    text-align: center;
}

/* --------------------------------------------------------
***********************************************************
*************************KEVIN***************************** 
***********************************************************
-------------------------------------------------------- */


:root {

    /* Bookshop's logo colors */
    --k_logo_color_orange: #f69220;
    --k_logo_color_light_blue: #1cabcb;
    --k_logo_color_dark_blue: #087fb7;

    /* Main bg color used in the the template */
    --k_main_bg_color: hsl(200, 25%, 92%);

    --k_main_button_color: hsl(100, 15%, 100%);
    --k_info_text_color: var(--k_logo_color_light_blue);
    --k_error_text_color: crimson;
    --k_input_hover_color: var(--k_logo_color_orange);
    --k_input_focus_color: white;
    --k_default_border_radius: 3px;
    --k_default_text_color: black;
    --k_default_title_color: black;
    --k_default_link_color: navy;
}

/*****************/
/* Global stuffs */
/*****************/
.k_page_content {
    background-color: var(--k_main_bg_color);
}

.k_box_page_content {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.k_box_page_title {
    font-weight: bold;
    padding: 10px 10px;
    font-size: 24px;
    text-align: center;
    color: var(--k_default_title_color);
    background-color: var(--k_main_bg_color);
    margin-bottom: 10px;
}

.k_input,
.k_text_field,
.k_button {
    display: block;
    margin: auto;
    padding: 10px;
    width: 80%;
    border-radius: var(--k_default_border_radius);
    outline: none;
    border: none;
}

.k_button {
    border: 1px solid black;
}

.k_input_number_select {
    width: 50px;
    height: 32px;
    font-size: 32px;
}

.k_input:hover,
.k_text_field:hover,
.k_button:hover {
    background-color: var(--k_input_hover_color);
}

.k_input:focus,
.k_text_field:focus {
    background-color: var(--k_input_focus_color);
    border: 4px solid var(--k_logo_color_dark_blue);
}

.k_text_field {}

.k_button {
    width: 70%;
    background-color: var(--k_main_button_color);
    font-size: 18px;
    font-weight: bolder;
}

.k_label,
.k_label_left,
.k_label_right {}

.k_left {
    float: left;
}

.k_right {
    float: right;
}

.k_label_info {
    font-size: 20px;
    color: var(--k_info_text_color);
}

.k_label_error {
    font-size: 16sp;
    color: var(--k_error_text_color);
}

/** Table related **/
.k_table_form {
    width: 400px;
    margin: 0 auto;
    padding: 0px;
    border-radius: var(--k_default_border_radius);
    background-color: transparent;
}

.k_table_form th {
    background-color: var(--k_default_bg_color);
    color: var(--k_default_text_color);
    padding: 8px;
    font-size: 20px;
    border-radius: var(--k_default_border_radius);
    border: 4px solid white;
}

.k_table_form td {
    margin: auto;
    text-align: left;
    text-indent: 10%;
    font-size: 18px;
    padding-top: 16px;
    line-height: 100%;
}

/*********/
/* Login */
/*********/
/************/
/* Register */
/************/
/***********/
/* Account */
/***********/
/******************************/
/* Login / Register / Account */
/******************************/
.k_box_account {
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: stretch;
    background-color: var(--k_main_bg_color);
}

#k_box_account_title {
    background-color: DodgerBlue;
    color: red;
    font-size: 26px;
    padding: 10px 10px;
}

#k_box_account_content {
    padding: 10px;
}

#k_box_account_create,
#k_box_account_login {
    flex-grow: 1;
    background-color: var(--k_main_bg_color);
    line-height: 75px;
    font-size: 30px;
}

#k_box_account_details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    align-items: stretch;
    background-color: var(--k_main_bg_color);
}

/*********************/
/* Book details page */
/*********************/

#k_box_book_page_content {}

#k_box_book_content {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-basis: calc(100vh / 2);
    background-color: var(--k_main_bg_color);
}

#k_box_book_image {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 400px;
    background-color: var(--k_main_bg_color);
    margin: 10px 10px;

}

#k_box_book_info {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 10;
    margin: 10px 10px;
    background-color: var(--k_main_bg_color);
}

#k_book_info_title {
    flex-grow: 1;
    line-height: 100%;
    font-size: 25px;
    padding: 16px 16px;
    background-color: var(--k_logo_color_light_blue);
}

#k_box_book_details {
    display: flex;
    padding: 16px 16px;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
}

#k_label_book_title {
    font-size: 30px;
    font-weight: bold;
}

#k_label_book_subtitle {
    font-size: 16px;
}

#k_label_book_isbn {
    font-size: 10px;
}

#k_box_book_plus {
    min-width: 50%;
    font-size: 20px;
}

#k_book_info_summary {
    min-width: 50%;
    font-size: 18px;
}

#k_book_info_customer {
    font-size: 20px;
    background-color: var(--k_logo_color_light_blue);
    padding: 16px 16px;
}

#k_label_book_price {
    float: left;
    font-size: 35px;
}

#k_label_book_stock {
    float: right;
    font-size: 35px;
}

#k_box_book_comments {
    display: flex;
    margin-top: 8px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#k_box_book_comment {
    padding: 16px 16px;
    display: flex;
    background-color: var(--k_main_bg_color);
    flex-direction: column;
    margin-bottom: 32px;
}

#k_box_book_comment_title {
    border: 4px solid white;
    font-size: 24px;
    padding: 16px 16px;
    background-color: var(--k_logo_color_light_blue);
}

#k_box_book_comment_msg {
    border: 4px solid white;
    font-size: 18px;
    padding: 16px 16px;
    background-color: var(--k_main_bg_color);

}

#k_box_book_comment_details {
    border: 4px solid white;
    font-size: 24px;
    padding: 16px 16px;
    background-color: var(--k_logo_color_dark_blue);
}

/**********************/
/* Shopping cart page */
/**********************/
#k_box_shopping_cart_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    align-items: stretch;
    background-color: var(--k_main_bg_color);
}

#k_box_shopping_cart_empty {
    color: var(--k_error_text_color);
}

#k_table_form_shopping_cart {
    width: 100%;
}

#k_table_form_shopping_cart th {

}

#k_table_form_shopping_cart td {
    padding: 4px 8px;
    border: 1px solid white;
}

#k_table_form_shopping_cart tr {

}

#k_box_shopping_cart_actions {
    display: flex;
    flex-direction: row;
}

#k_box_shopping_cart_clear {
    width: 50%;
    padding: 16px 40px;
    background-color: var(--k_main_bg_color);
}

#k_box_shopping_cart_order {
    width: 50%;
    padding: 16px 40px;
    background-color: var(--k_main_bg_color);
}
/***********/
/* Account */
/***********/
#k_box_order_validation_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    align-items: stretch;
    background-color: var(--k_main_bg_color);
}

#k_box_order_validation_total {
    display: flex;
    flex-direction: row;
    width: 30%;
    padding: 10px;
    text-align: center;
    align-items: stretch;
    background-color: var(--k_main_bg_color);
}

/* --------------------------------------------------------
***********************************************************
*************************CHARLèNE***************************** 
***********************************************************
-------------------------------------------------------- */
.evtConteneur {
    display: flex;
    justify-content: center;
}

.prezConteneur{
    display: flex;


    .prezConteneur:nth-child(1)
        {
        order: 1;
    }

    .prezConteneur:nth-child(2)
        {
        order: 2;
    }
}
.titre {
    display: flex;
    justify-content: center;
}

#bor {
    border: 1px solid black;
}


.bttn-unite {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #1d89ff;
    border-radius: 100px;
    background: #fff;
    color: #1d89ff;
    -webkit-transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: #d6e3ff;
    content: '';
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(-110%, -10%, 0) skewX(-20deg);
    transform: translate3d(-110%, -10%, 0) skewX(-20deg);
}
.bttn-unite:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgba(214,227,255,0.7);
    content: '';
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(110%, -10%, 0) skewX(-20deg);
    transform: translate3d(110%, -10%, 0) skewX(-20deg);
}
.bttn-unite:hover,
.bttn-unite:focus {
    box-shadow: 0 1px 8px rgba(58,51,53,0.3);
    color: #1d89ff;
    -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:hover:before,
.bttn-unite:focus:before {
    opacity: 1;
    -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(-50%, -10%, 0) skewX(-20deg);
    transform: translate3d(-50%, -10%, 0) skewX(-20deg);
}
.bttn-unite:hover:after,
.bttn-unite:focus:after {
    opacity: 1;
    -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(50%, -10%, 0) skewX(-20deg);
    transform: translate3d(50%, -10%, 0) skewX(-20deg);
}
.bttn-unite.bttn-xs {
    padding: 3px 8px;
    font-size: 12px;
    font-family: inherit;
}
.bttn-unite.bttn-xs:hover,
.bttn-unite.bttn-xs:focus {
    box-shadow: 0 1px 4px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-sm {
    padding: 4px 10px;
    font-size: 16px;
    font-family: inherit;
}
.bttn-unite.bttn-sm:hover,
.bttn-unite.bttn-sm:focus {
    box-shadow: 0 1px 6px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}
.bttn-unite.bttn-md:hover,
.bttn-unite.bttn-md:focus {
    box-shadow: 0 1px 8px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}
.bttn-unite.bttn-lg:hover,
.bttn-unite.bttn-lg:focus {
    box-shadow: 0 1px 10px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-default {
    border-color: #1d89ff;
    color: #1d89ff;
}
.bttn-unite.bttn-default:hover,
.bttn-unite.bttn-default:focus {
    background: #d6e3ff;
    color: #1d89ff;
}
.bttn-unite.bttn-default:before {
    background: #a7c3ff;
}
.bttn-unite.bttn-default:after {
    background: #d6e3ff;
}
.bttn-unite.bttn-primary {
    border-color: #1d89ff;
    color: #1d89ff;
}
.bttn-unite.bttn-primary:hover,
.bttn-unite.bttn-primary:focus {
    background: #1d89ff;
    color: #fff;
}
.bttn-unite.bttn-primary:before {
    background: #006de3;
}
.bttn-unite.bttn-primary:after {
    background: #1d89ff;
}
.bttn-unite.bttn-warning {
    border-color: #feab3a;
    color: #feab3a;
}
.bttn-unite.bttn-warning:hover,
.bttn-unite.bttn-warning:focus {
    background: #feab3a;
    color: #fff;
}
.bttn-unite.bttn-warning:before {
    background: #f89001;
}
.bttn-unite.bttn-warning:after {
    background: #feab3a;
}
.bttn-unite.bttn-danger {
    border-color: #ff5964;
    color: #ff5964;
}
.bttn-unite.bttn-danger:hover,
.bttn-unite.bttn-danger:focus {
    background: #ff5964;
    color: #fff;
}
.bttn-unite.bttn-danger:before {
    background: #ff1424;
}
.bttn-unite.bttn-danger:after {
    background: #ff5964;
}
.bttn-unite.bttn-success {
    border-color: #28b78d;
    color: #28b78d;
}
.bttn-unite.bttn-success:hover,
.bttn-unite.bttn-success:focus {
    background: #28b78d;
    color: #fff;
}
.bttn-unite.bttn-success:before {
    background: #209271;
}
.bttn-unite.bttn-success:after {
    background: #28b78d;
}
.bttn-unite.bttn-royal {
    border-color: #bd2df5;
    color: #bd2df5;
}
.bttn-unite.bttn-royal:hover,
.bttn-unite.bttn-royal:focus {
    background: #bd2df5;
    color: #fff;
}
.bttn-unite.bttn-royal:before {
    background: #a20bdd;
}
.bttn-unite.bttn-royal:after {
    background: #bd2df5;
}

/* --------------------------------------------------------
                           Banque
-------------------------------------------------------- */

.errorBank {
    font-style: italic;
    color: #ff1424;
}

.logoBank {
    width: 50px;
    margin-right: 20px;
}

.headerBank {
    max-width: 300px;
    border-bottom-color: orange;
    border-bottom-style: solid;
    display: block;
    margin: auto;
}

.bankText {
    text-align: center;
}

.bankTable {
    margin: auto;
    text-align: left;
}

/* --------------------------------------------------------
                   Responsive web design
-------------------------------------------------------- */

@media (max-width: 1100px) {
    img {
        width: 80%;
        height: auto;
    }
    #recherche {
        width: 300px;
    }
}


@media (max-width: 800px) {
    img {
        width: 60%;
        height: auto;
    }
    #recherche {
        width: 200px;
    }
}

/* --------------------------------------------------------
                   Sélection Livres
-------------------------------------------------------- */

.imgClic:hover {
    border-style: solid;
}

.bookResult {
    background-color: white;
    text-align: left;
    border-radius: 10px;
    border: 3px;
    padding: 12px 20px 12px 12px;
    text-align: justify;
}

.main {
    background-color: white;
}

.llMyAccount {
    display: block;
}

:root {
	--couleur-fond: rgb(70,32,22);
}

.llCenter {
   float: right;
}

.llStrong {
    font-weight: bold;
}

.llItalic {
    font-style: italic;
}

.llBolder {
    font-weight: bolder;
}

.llAlignCenter {
    text-align: center;
}

.llTableCenter {
    margin: auto;
    text-align: left;
    border-spacing: 20px;
}